.ant-layout-sider .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  color: rgba(255, 255, 255, 0.65);
}

.ant-layout-sider .logo-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.ant-layout-sider  .name {
  padding-left: 10px;
}

.ant-layout-sider .ant-menu-item {
  margin-top: 0;
}
