.cart-list {
  display: flex;
  padding-bottom: 15px;
  align-items: center;
}

.cart-list .cart-item {
  flex: 1;
  background: #fff;
  margin-right: 15px;
  display: flex;
  align-items: center;
  height: 90px;
}

.cart-list .cart-item-icon {
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #fff;
  font-size: 34px;
  flex: 0 0 90px;
}

.cart-list .cart-item:last-child {
  margin-right: 0;
}

.cart-list .cart-item-icon.user-add {
  background: #f7a35c;
}

.cart-list .cart-item-icon.heart {
  background: #90ed7d;
}

.cart-list .cart-item-icon.share-alt {
  background: #7cb5ec;
}

.cart-list .cart-item-content {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
}

.cart-list .cart-item-content .number {
  padding-top: 5px;
  font-size: 36px;
  line-height: 1;
}

.cart-list .cart-item-content .title {
  padding-top: 10px;
  line-height: 1;
}

.user-chart {
  display: flex;
}

.user-chart #user_origin {
  margin-right: 10px;
  flex: 0 0 500px;
}

.user-chart #user_container {
  flex: 1;
}

.user-chart #user_origin,
.user-chart #user_container {
  padding: 5px;
  background: #fff;
}

.user-chart #user_origin:hover,
.user-chart #user_container:hover {
  box-shadow: 0 0 5px #ccc;
}
