.ant-layout-header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

.ant-layout-header .ant-dropdown-link {
  padding-right: 20px;
}

.ant-layout-header .custom-img {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
}
